.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #1E2631;
}

.left-block {
  flex: 1;
}

.right-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webinaire-tag {
  color: #7abfd0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.left-block-text {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;

}

.left-block-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 6px;
  margin-top: 12px;
}

.webinaire-date {
  margin-top: 30px;
  color: #F99746;
  font-size: 14px;
  margin-bottom: 12px;
}

.webinaire-button {
  padding: 8px 22px;
  border: none;
  background-color: #3B4854;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.webinaire-button:hover {
  background-color: #2A3540;
}

.webinaire-image {
  width: 450px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 920px) {
  .banner-container .right-block {
    display: none;
  }
  .navigation {
    flex-direction: column;
    height: unset;
  }
  .navigation .navigation__right {
    margin: 0px 10px 0px 45px;
  }
}