.dropdown-checkbox {
  position: relative;
  display: inline-block;
}

.dropdown-checkbox__toggle {
  cursor: pointer;
  background-color: red;
  color: red;
}

.dropdown-checkbox__menu {
  background-color: #C9CCCC;
  list-style-type: none;
  padding: .5rem 1rem;
  border-radius: .6rem;
  margin-right: 1rem;
  flex-wrap: wrap;
  min-width: 200px;
  display: flex; 
  align-items: inherit !important;
}

.dropdown-checkbox__menu li {
  padding: 8px 12px;
  background-color: #ececec;
  border-radius: .3rem;
  transition: .1s;
  margin: 0.2rem;
}

.dropdown-checkbox__menu li label {
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}