.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.navigation__right{
  margin-right: 30px;
}

.navigation__left ul,
.navigation__right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__left ul li,
.navigation__right ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation__left ul li:last-child,
.navigation__right ul li:last-child {
  margin-right: 0;
}

.navigation__left button,
.navigation__right button {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  padding-top: 5px;
  padding-left: 5px;
}

.navigation__left button:hover,
.navigation__right button:hover {
  color: #F99746;
}

.navigation__left button.active,
.navigation__right button.active {
  border-bottom: 2px solid #368093;
}

.navigation__right ul li span {
  color: #212121;
  font-size: 14px;
}

.navigation__filter {
  margin-right: 20px;
}

.navigation__dropdowncheckbox{
  border: 1px solid #000;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}